// Layout Styles
// --------------------------------------------------

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: $container-size;
}

.l-row {
  @include clearfix;
  width: $container-size;
}

.l-col {
  float: left;
  width: ($container-size / 2)- 30px;

  &:first-child {
    margin-right: 30px;
    margin-left: 30px;
  }
}
#map {
  margin: auto;
  width: 700px;
  height: 700px;
}
