// Variables
// --------------------------------------------------

// Global Variables
// --------------------------------------------------

// Colors
// -------------------------

$turquoise-blue: #3d9aa9;
$dark-blue:      #012344;
$black:          #222;
$gray:           #333;


// Scaffolding
// -------------------------

$body-bg:    #fafafa;
$text-color: $black;


// Links
// -------------------------
$link-color: #2486be;
$link-hover-color: darken($link-color, 20%);

// Typography
// -------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:   14px !default;
$font-size-large:  19px !default;
$font-size-medium: 16px !default;
$font-size-small:  13px !default;

$line-height-base:        1.8;

$headings-font-family:    $font-family-base;
$headings-font-weight:    500;
$headings-line-height:    1.1;


// Components
// -------------------------

$container-size: 975px;

$margin-base-vertical:          30px;
$margin-base-horizontal:        45px;

$margin-large-vertical:         60px;
$margin-large-horizontal:       30px;

$margin-small-vertical:         15px;
$margin-small-horizontal:       15px;

$border-color: #666 !default;

// Tables
// -------------------------

$table-border-color: $border-color !default;